{{{ args.before_widget }}}

	{{# instance.block }}
		{{# posts }}
			<div class="latest-news  latest-news--{{ instance.type }}">
				<div class="latest-news__date">
					{{ day }}. {{ month }}
				</div>
				{{# image_url }}
				<a href="{{ link }}" class="latest-news__image">
					<img src="{{{ image_url }}}" width="{{{ image_width }}}" height="{{{ image_height }}}" srcset="{{{ srcset }}}" sizes="(min-width: 781px) 360px, calc(100vw - 30px)" class="wp-post-image" alt="{{ title }}">
				</a>
				{{/ image_url }}

				<div class="latest-news__content">
					<h4 class="latest-news__title"><a href="{{ link }}">{{ title }}</a></h4>
					<div class="latest-news__excerpt">
						{{{ excerpt }}}
					</div>
				</div>
			</div>
		{{/ posts }}
		{{# instance.more_news_on }}
			<a href="{{ instance.link_to_more_news }}" class="latest-news  latest-news--more-news">
				{{ text.more_news }}
			</a>
		{{/ instance.more_news_on }}
	{{/ instance.block }}

	{{^ instance.block }}
		<div class="latest-news__container">
			{{# posts }}
				<a href="{{ link }}" class="latest-news  latest-news--{{ instance.type }}">
					<div class="latest-news__content">
						<h4 class="latest-news__title">{{ title }}</h4>
							<div class="latest-news__full-date">
								{{ full_date }}
							</div>
					</div>
				</a>
			{{/ posts }}

			{{# instance.more_news_on }}
				<a href="{{ instance.link_to_more_news }}" class="latest-news  latest-news--more-news">
					{{ text.more_news }}
				</a>
			{{/ instance.more_news_on }}
		</div>
	{{/ instance.block }}

{{{ args.after_widget }}}