/* 05.28. Visual Composer */

.wpb-js-composer {

	.widget-title {
		margin-top: 0;
		margin-bottom: 30px;
	}

	.call-to-action__button p {
		margin: 0;
	}

	.testimonial .widgettitle {
		font-size: 46px;
		margin-top: 0;
		margin-bottom: 10px;
		float: left;
	}
}
